


.menu a {
  text-decoration: none;
    color: #000;
    font-size: 1rem;
    
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo{
   width: 4rem;  
}

.logo-box h5,
.logo-box h4 {
  margin: 0;
  line-height: 1;
}

.parentUl li:hover {
  background-color: #dee8f0;
  cursor: pointer;

}

@media (max-width: 1000px) {

.menu .noneBox{
  display: none;
}

.parentUl li {
  width: 50% !important;

}

}

