.menu a {
  text-decoration: none;
    color: #000;
    font-size: 1rem;
    
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo{
   width: 4rem;  
}

.logo-box h5,
.logo-box h4 {
  margin: 0;
  line-height: 1;
}



@media (max-width: 1000px) {

.menu .noneBox{
  display: none;
}
}


   /* CSS FÜR HAMBURGER */

   .menu-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  z-index: 9999; 
  overflow-y: auto;
  opacity: 0.9;
  margin-top: 1rem;
}


   .subContainerHambuger div ul li {
 cursor: pointer;
 display: flex;
  align-items: center;
  gap: 3rem;  
   }

   .loginCloseIcons div{
  cursor: pointer;
}

.footer li {
  cursor: pointer;
}

   @media (max-width:1000px) {
    .middleContent ul li {
      color: blue;
    }

      .rightContent ul li {
      color: red;
    }

    .footer{
      width: 100% !important;
    }
   }
