


.menu a {
  text-decoration: none;
    color: #000;
    font-size: 1rem;
    
}

.menu li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.logo{
   width: 4rem;  
}

.logo-box h5,
.logo-box h4 {
  margin: 0;
  line-height: 1;
}



@media (max-width: 1000px) {

.menu .noneBox{
  display: none;
}
}


   /* CSS FÜR HAMBURGER */

   .subContainerHambuger div ul li {
 cursor: pointer;
 display: flex;
  align-items: center;
  gap: 3rem;  
   }

